inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 5
seq_len = 4096

[wandb]
project = "hanabi-rl"
name = "hanabi-rl"

[ckpt]

[model]
name = "nph4rd/Qwen3-4B-Instruct-2507-Hanabi-SFT"

[orchestrator]
batch_size = 32
rollouts_per_example = 16
trajectory_strategy = "branching"

[[orchestrator.env]]
id = "nph4rd/hanabi"
name = "hanabi"

[orchestrator.sampling]
max_tokens = 128

[trainer]

[inference.model]
enable_auto_tool_choice = true
tool_call_parser = "hermes"