inference_gpu_ids = [0,1,2,3,4,5]
trainer_gpu_ids = [6,7]

max_steps = 100

[wandb]
project = "hanabi-rl"
name = "hanabi-rl"

[ckpt] # Checkpoint at the end of training

[model]
name = "nph4rd/Qwen3-4B-Instruct-2507-Hanabi-SFT"

[orchestrator]
seq_len = 8192
batch_size = 512
rollouts_per_example = 16
trajectory_strategy = "branching"

[[orchestrator.env]]
id = "nph4rd/hanabi"
name = "hanabi"

[orchestrator.sampling]
max_tokens = 256

[trainer] # Default trainer config

[inference.parallel]
dp = 6
tp = 1